//color
$primary: #F44336;
$secondary: #64b5f6;

//font size
$font-small:1rem;
$font-medium:1.25rem;
$font-big:1.625rem;

//border size
$border-sm:1px;
$border-md:3px;
$boder-lg:5px;
$border-xl:10px;

//breakpoints
$bp-sm:1px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;