.container{
    width: 90%;
    margin: 0 auto;
    p{
        color: $secondary;
        font-size: $font-big;
        @include border-primary(solid);
    }
    &__link{
        @include link-clean;
    }

    @include respond-to($bp-sm){
        width: 100%;
        background-color: $primary;
    }
    @include respond-to($bp-md){
        width: 50%;
        
    }
    @include respond-to($bp-lg){
        width: 30%;
        background-color: $secondary;
    }
}